<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Servlet Declaration -->
    <servlet>
        <servlet-name>ScheduledTaskServlet</servlet-name>
        <servlet-class>servlet.ScheduledTaskServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ScheduledTaskServlet</servlet-name>
        <url-pattern>/scheduledTask</url-pattern>
    </servlet-mapping>

    <!-- Context Listener Declaration -->
    <listener>
        <listener-class>servlet.ScheduledTaskContextListener</listener-class>
    </listener>
    
    <!-- Servlet Declaration -->
    <servlet>
        <servlet-name>CloseLogTableServlet</servlet-name>
        <servlet-class>servlet.CloseLogTableServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CloseLogTableServlet</servlet-name>
        <url-pattern>/closeLogTable</url-pattern>
    </servlet-mapping>

    <!-- Context Listener Declaration -->
    <listener>
        <listener-class>servlet.CloseLogTableContextListener</listener-class>
    </listener>

</web-app>
